{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block head %}
{{super()}}
{% endblock %}

{% block content %}
<main class="w-100 m-auto">


    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold text-body-emphasis">About</h1><br>
        <h3 class="fw-bold text-body-emphasis">your car is happy with us.</h3><br>

        <div class="col-lg-6 mx-auto">

        <div class="overflow-hidden">
            <div class="container px-5">
                <img src="https://picsum.photos/700/300" class="img-fluid border rounded-3 shadow-lg mb-4">
            </div>
        </div>
    </div>


</main>
{% endblock %}